.blue {
    color: goldenrod;
    width: 300px;
    display:flex;
    justify-content:center;
    align-items:flex-start;
    flex-direction: column;
    margin: 0 auto;
}
.blue li{
    color: darkblue;
}